<div class="section-frame-top">
    <img class="section-left" src="/static/img/borders/section-frame-top-left.png" alt="">
    <img class="section-right" src="/static/img/borders/section-frame-top-left.png" alt="">
    <img class="section-middle" src="/static/img/borders/section-frame-divider.png" alt="">
</div>
<div class="section-frame-bottom">
    <img class="section-left" src="/static/img/borders/section-frame-top-left.png" alt="">
    <img class="section-right" src="/static/img/borders/section-frame-top-left.png" alt="">
    <img class="section-middle" src="/static/img/borders/section-frame-divider.png" alt="">
</div>