<div class="container weaponBorder mb-4 w-max-2xl">
    <h4 class="font-anton-upp text-white pt-3 text-center">Classes Key</h4>
    <div class="row gap-0 py-2">
        <div class="col-md-3 g-0 px-3 py-3">
            <div 
                class="card-text class-icon-text row justify-content-center"
            > 
                <img 
                    class="classes-key-icon col-6 class-icon-hover" 
                    src="/static/img/classes/zealot.png"
                > 
                <span class="col-6 font-anton text-center text-md-start">Zealot <br> Preacher</span> 
            </div> 
        </div>
        <div class="col-md-3 px-3 py-3 g-0">
            <div 
                class="card-text class-icon-text row justify-content-center"
            > 
                <img 
                    class="classes-key-icon col-6 class-icon-hover" 
                    src="/static/img/classes/veteran.png"
                > 
                <span class="col-6 font-anton text-center text-md-start">Veteran <br> Sharpshooter</span> 
            </div> 
        </div>
        <div class="col-md-3 px-3 py-3">
            <div 
                class="card-text class-icon-text row justify-content-center"
            > 
                <img 
                    class="classes-key-icon col-6 class-icon-hover" 
                    src="/static/img/classes/psyker.png"
                > 
                <span class="col-6 font-anton text-center text-md-start">Psyker <br> Psykinetic</span> 
            </div> 
        </div>
        <div class="col-md-3 px-3 py-3">
            <div 
                class="card-text class-icon-text row justify-content-center"
            > 
                <img 
                    class="classes-key-icon col-6 class-icon-hover" 
                    src="/static/img/classes/ogryn.png"
                > 
                <span class="col-6 font-anton text-center text-md-start">Ogryn <br> Skullbreaker</span> 
            </div> 
        </div>
    </div>
</div>