{% extends "layout.html" %}
{% block title %}
    {{ title }}
{% endblock %}

{% block background %}
    class="mainPage"
{% endblock %}

{% block content %}
<div class="container-fluid text-center">
    <h1>Disclaimer</h1>
    <p>Darkmass is neither directly nor indirectly related to any businesses, 
        studios or companies that produce, publish or create the games Darkmass covers, 
        in any way, shape, or form, neither does Darkmass claim any representative rights to such. 
        Darkmass is a fan run site dedicated to providing game information to gamers. Its purpose is purely 
        journalistic and is not intended to infringe upon copyrights. This site is neither supported nor endorsed by businesses, 
        studios or companies that produce, publish or create the games Darkmass covers.
    </p>
    <p>All information on this website is provided "as is" without warranty of any kind,
         express or implied, including the implied warranties of non-infringement. Darkmass 
         cannot guarantee the validity of any information contained herein and disclaims the accuracy
          of submitted information, said information being posted without immediate peer review, and open to 
          modification via any third party.  
    </p>
    <p>In no event will the Darkmass, its host, contributors, sponsors, administrators, nor editors, formal or otherwise, be liable to any party for any direct,
         indirect, privileged or consequential damages occurring as a result of the use of this website or the content therein; neither shall any of the aforementioned be 
         liable for damages occurring as a result of hyperlinked or otherwise affiliated sites, said damages including, and without limitation, any lost profits, business
          or personal interruption, loss of data on your information handling system, or otherwise, even should we be expressly advised of the possibility of such.
    </p>   
    <p>All information supplied herein is provided freely with no guarantee of accuracy, neither is there any guarantee that said information has been submitted by an expert in a 
        legal manner.
    </p>
    <p>All other content is trademark or registered trademark of its respective owners.</p>
</div>
{% endblock %}