{% for blessing_name, blessing_info in blessings.items() %}
    <div class="d-flex align-items-center justify-content-start modal-select-bg meleeBlessingOneSelectButton my-3 p-2 pointer"
         @click='
        meleeBlessingOne = "{{ blessing_info.name }}",
        meleeBlessingOneImage = "{{ blessing_info.image }}",
        meleeBlessingOneDescription = "{{ blessing_info.description }}",
        meleeBlessingOneModal.toggle()
        '>
        <img src="{{ url_for('static', filename='img/traits/' + get_stem(blessing_info.image)) }}" class="icon-curios p-1" alt="Blessing image">
        <div class="ps-2">
            <p style="color:white;">{{ blessing_info.name }}</p>
            <p class="m-0" style="color:white;">{{ blessing_info.description }}</p>
        </div>
    </div>
{% endfor %}
