<div class="row justify-content-center">
    <div class="col-12 col-sm-6 col-lg-4 my-3">
        <a id="glossaryBtn" class="position-relative text-decoration-none">
            <div class="card stats-button-card mx-auto">
                <div class="card-body weapon-card-bg">
                    <h5 class="font-worksans-bold text-white my-sm-1">Glossary</h5>
                </div>
                <div class="stats-button-frame d-flex align-items-center px-0">
                    <div class="stats-button-wrapper">
                        <img class="stats-frame" src="/static/img/borders/button-frame-1.png" alt="Styled button frame">
                    </div>
                </div>
            </div>
        </a>        
    </div>
    <div class="col-12 col-sm-6 col-lg-4 my-5 my-sm-3">
        <a id="CritBtn" class="position-relative text-decoration-none">
            <div class="card stats-button-card mx-auto">
                <div class="card-body weapon-card-bg">
                    <h5 class="font-worksans-bold text-white my-sm-1">Base crit</h5>
                </div>
                <div class="stats-button-frame d-flex align-items-center px-0">
                    <div class="stats-button-wrapper">
                        <img class="stats-frame" src="/static/img/borders/button-frame-1.png" alt="Styled button frame">
                    </div>
                </div>
            </div>
        </a>    
    </div>
</div>