<div class="row justify-content-center">
    <div class="col-8 col-md-4 p-0">
        <div class="card no-pointer class-stat-card text-center mb-4 m-auto weaponBorder rounded-0">
            <h5 class="font-worksans-bold text-white p-1 m-0 text-center stats-border-iconic">Stats</h5>
            <div class="row d-flex align-items-center p-2">
                <div class="justify-content-evenly col-6">
                    <i class="fa-solid fa-heart"></i>
                    <span class="font-worksans">Health:<span class="text-white"> {{ model.health }}</span></span>
                </div>
                <div class="justify-content-evenly col-6">
                    <i class="fa-solid fa-shield"></i>
                    <span class="font-worksans">Toughness:<span class="text-white"> {{ model.toughness }}</span></span>
                </div>
            </div>
        </div>
    </div>
</div>