<div class="container py-2 w-max-3xl">
    <div class="row gx-3 text-center">
        {% for wep in rangedSubtypeList %}
            <div class="col-6 col-md-4 col-lg-3 pl-3 pt-3 mb-4">
                {% for i in allRangedWeapons %}
                    {% if i.id == wep.parentID %}
                        <a href="/weapons/ranged/{{ i.name }}/{{ wep.name }}" target="_blank" class="card-link font-anton">
                    {% endif %}
                {% endfor %}
                <div class="card h-100 ranged-weapon">
                    <div class="h-100 d-flex flex-column">
                        <div class="text-center weapon-card-ranged pb-1">
                            <div class="d-flex align-items-center card-img-wrapper justify-content-center">
                                <img src="{{ wep.image }}" class="card-img-top w-auto" alt="...">
                            </div>                            <h6 class="card-title card-title pb-2 mb-0 subtype-heading">{{wep.name}}</h6>
                        </div>
                        <div class="weapon-frame-middle w-100">
                            <img class="frame-middle melee w-100" src="/static/img/borders/weapon-frame-middle.png" alt="">
                        </div>
                        <div class="card-body py-2 py-lg-3 text-center weapon-card-ranged d-flex flex-column align-items-center">
                            {% set count = namespace(value=1) %}
                            {% for i in wep.tag %}
                                {% if wep.tag == "No Tag" %}
                                    <span class="card-text font-worksans-light text-white small-text">
                                        {{wep.tag}}
                                    </span>
                                    <br>
                                {% endif %}
                                {% if count.value == 1 %}
                                    <span class="card-text font-worksans-light text-white small-text">
                                        {{i}}
                                    </span>
                                    <br>
                                    <i class="fa-solid fa-circle fa-2xs"></i>
                                    <br>
                                    {% set count.value = count.value + 1 %}
                                {% else %}
                                    <span class="card-text font-worksans-light text-white small-text">
                                        {{i}}
                                    </span>
                                {% endif%}
                            {% endfor %}
                        </div>
                        <div class="weapon-frame-middle w-100">
                            <img class="frame-middle melee w-100" src="/static/img/borders/weapon-frame-middle.png" alt="">
                        </div>
                        <div class="card-body text-center weapon-card-ranged">
                            {% if "Zealot" in wep.classes and "Psyker" in wep.classes and "Veteran" in wep.classes and "Ogryn" in wep.classes %}
                            <p class="card-text"> <img class="class-icon-hover card-icon" src="/static/img/classes/zealot.png"> <img class="class-icon-hover card-icon" src="/static/img/classes/veteran.png"> <img class="class-icon-hover card-icon" src="/static/img/classes/psyker.png"> <img class="class-icon-hover card-icon" src="/static/img/classes/ogryn.png"> </p>
                            {% elif "Zealot" in wep.classes and "Psyker" in wep.classes and "Veteran" in wep.classes %}
                            <p class="card-text"> <img class="class-icon-hover card-icon" src="/static/img/classes/zealot.png"> <img class="class-icon-hover card-icon" src="/static/img/classes/veteran.png"> <img class="class-icon-hover card-icon" src="/static/img/classes/psyker.png"> </p>
                            {% elif "Zealot" in wep.classes and "Veteran" in wep.classes %}
                            <p class="card-text"> <img class="class-icon-hover card-icon" src="/static/img/classes/zealot.png"> <img class="class-icon-hover card-icon" src="/static/img/classes/veteran.png"> </p>
                            {% elif "Psyker" in wep.classes and "Veteran" in wep.classes %}
                            <p class="card-text"> <img class="class-icon-hover card-icon" src="/static/img/classes/psyker.png"> <img class="class-icon-hover card-icon" src="/static/img/classes/veteran.png"> </p>
                            {% elif "Psyker" in wep.classes and "Zealot" in wep.classes %}
                            <p class="card-text"> <img class="class-icon-hover card-icon" src="/static/img/classes/psyker.png"> <img class="class-icon-hover card-icon" src="/static/img/classes/zealot.png"> </p>
                            {% elif "Zealot" in wep.classes %}
                            <p class="card-text"> <img class="class-icon-hover card-icon" src="/static/img/classes/zealot.png"> </p>
                            {% elif "Psyker" in wep.classes %}
                            <p class="card-text"> <img class="class-icon-hover card-icon" src="/static/img/classes/psyker.png"> </p>
                            {% elif "Ogryn" in wep.classes %}
                            <p class="card-text"> <img class="class-icon-hover card-icon" src="/static/img/classes/ogryn.png"> </p>
                            {% elif "Veteran" in wep.classes %}
                            <p class="card-text"> <img class="class-icon-hover card-icon" src="/static/img/classes/veteran.png"> </p>                  
                            {% endif %}
                        </div>    
                    </div>
                    <div class="weapon-frame-top d-flex align-items-center px-0">
                        <img src="/static/img/borders/weapon-frame-top.png" alt="" class="frame-center melee">
                    </div>
                    <div class="weapon-frame-bottom d-flex align-items-center px-0">
                        <img src="/static/img/borders/weapon-frame-bottom.png" alt="" class="frame-center melee">
                    </div>
                </div></a>
            </div>  
        {% endfor %}
    </div>
</div>