<div class="modal fade" id="meleeModal" tabindex="-1" aria-labelledby="meleeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                {% for wep in meleeSubtypeList %}
                    <div class="d-flex align-items-center meleeSelectButton modal-select-bg weapon-select my-3 p-2 pointer" @click='
                        weapon_id = "{{ wep.id }}",
                        weapon = "{{ wep.name }}",
                        weaponImage = "{{ wep.image }}",
                        weaponTraits= "{{ wep.traits }}",
                        reset_blessing(),
                        $fragmentor("buildeditor/blessings/melee/{{ wep.id }}", $refs.MeleeblessingModal)
                        $fragmentor("buildeditor/blessings/melee/two/{{ wep.id }}", $refs.MeleeblessingModalTwo)
                    '>
                        <img src="{{ wep.image }}" class="modal-weapon-img p-0 px-2" alt="{{ wep.name }} Image">
                        <div class="ps-2">
                            <p style="color:white;" class="m-0 font-worksans-bold px-2">{{ wep.name }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="weapon-frame-top d-flex align-items-center px-0">
                <img src="/static/img/borders/talent-border-top.png" alt="" class="frame-center ranged">
            </div>
            <div class="weapon-frame-bottom d-flex align-items-center px-0">
                <img src="/static/img/borders/talent-border-bot.png" alt="" class="frame-center ranged">
            </div>
        </div>
    </div>
</div>