<div class="modal fade" id="meleeBlessingTwoModal" tabindex="-1" aria-labelledby="meleeBlessingTwoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body" x-ref="MeleeblessingModalTwo" x-init='$fragmentor(`buildeditor/blessings/melee/two/${weapon_id}`)'>

            </div>
            <div class="weapon-frame-top d-flex align-items-center px-0">
                <img src="/static/img/borders/talent-border-top.png" alt="" class="frame-center ranged">
            </div>
            <div class="weapon-frame-bottom d-flex align-items-center px-0">
                <img src="/static/img/borders/talent-border-bot.png" alt="" class="frame-center ranged">
            </div>
        </div>
    </div>
</div>