<div class="row gy-4 mt-2 mt-lg-0">
    <div class="col-12 col-md-6 mt-lg-0">
        <a class="home-page-box home-page-card d-flex justify-content-center flex-column text-decoration-none text-white p-3" href="https://discord.gg/d6JdVCxSsV">
            <h3 class="font-anton-upp pb-3">Discord</h3> 
            <i class="fa-brands fa-discord home-card-icon fa-3x"></i>
        </a>
    </div>
    <div class="col-12 col-md-6 mt-lg-0">
        <a class="home-page-box home-page-card d-flex justify-content-center flex-column text-decoration-none text-white p-3" href="#">
            <h3 class="font-anton-upp pb-3">Roadmap</h3>
            <i class="fa-solid fa-route home-card-icon fa-3x"></i>
        </a>
    </div>
    <div class="col-12 col-md-6">
        <a class="home-page-box home-page-card d-flex justify-content-center flex-column text-decoration-none text-white p-3" href="/statsbreakdown/glossary">
            <h3 class="font-anton-upp pb-3">Glossary</h3>
            <i class="fa-solid fa-book home-card-icon fa-3x"></i>
        </a>
    </div>
    <div class="col-12 col-md-6">
        <a class="home-page-box home-page-card d-flex justify-content-center flex-column text-decoration-none text-white p-3" target="_blank" href="https://steamcommunity.com/app/1361210/guides/">
            <h3 class="font-anton-upp pb-3">Guides</h3>
            <i class="fa-solid fa-circle-info home-card-icon fa-3x"></i>   
        </a>
    </div>
</div>