<div class="row gy-4 mt-1">
    <div class="col-12">
        <div class="home-page-box major-page-card d-flex flex-column p-2 py-5 p-md-5">
            <p class="font-worksans-bold pb-3">
                A complete breakdown of all the important stats relating the melee weapons, perks, modifiers and more
            </p>
            <a href="/statsbreakdown/meleestats" class="position-relative text-decoration-none">
                <div class="card home-stats-btn mx-auto">
                    <div class="card-body weapon-card-bg">
                        <h5 class="font-worksans-bold text-white my-sm-1">Melee Stats</h5>
                    </div>
                    <div class="home-stats-btn-frame d-flex align-items-center px-0">
                        <div class="home-stats-btn-wrapper">
                            <img class="stats-btn-frame" src="/static/img/borders/button-frame-1.png" alt="Styled button frame">
                        </div>
                    </div>
                </div>
            </a>  
        </div>
    </div>
    <div class="col-12">
        <div class="home-page-box major-page-card d-flex flex-column p-2 py-5 p-md-5">
            <p class="font-worksans-bold pb-3">
                A complete breakdown of all the important stats relating the ranged weapons, perks, modifiers and more
            </p>
            <a href="/statsbreakdown/rangedstats" class="position-relative text-decoration-none">
                <div class="card home-stats-btn mx-auto">
                    <div class="card-body weapon-card-bg">
                        <h5 class="font-worksans-bold text-white my-sm-1">Ranged Stats</h5>
                    </div>
                    <div class="home-stats-btn-frame d-flex align-items-center px-0">
                        <div class="home-stats-btn-wrapper">
                            <img class="stats-btn-frame" src="/static/img/borders/button-frame-1.png" alt="Styled button frame">
                        </div>
                    </div>
                </div>
            </a>  
        </div>
    </div>
</div>