<div class="col-12 col-lg-6">
    <div class="home-page-box p-4">
        <h2 class="font-anton-upp pb-4">our pages</h2>
        <div class="home-pages-card-wrapper d-flex justify-content-center flex-column">
            <a class="home-ourPages-card row text-decoration-none text-white py-2" href="/classes">
                <div class="col-4">
                    <div class="home-ourPages-img mx-auto">
                        <img class="img-fluid" src="static/img/classes/Veteran-model.png" alt="Classes page">
                    </div>
                </div>
                <div class="col-8">
                    <div class="home-card-text text-start">
                        <h3 class="font-worksans-bold">Classes</h3>
                        <p class="font-worksans-light">View all the classes in the game, their stats, unique talents and feats</p>
                    </div>
                </div>
            </a>
            <a class="home-ourPages-card row text-decoration-none text-white py-2" href="/weapons">
                <div class="col-4">
                    <div class="home-ourPages-img mx-auto">
                        <img class="img-fluid" src="static/img/meleeWeapons/sword.png" alt="Weapons page">
                    </div>
                </div>
                <div class="col-8">
                    <div class="home-card-text text-start">
                        <h3 class="font-worksans-bold">Weapons</h3>
                        <p class="font-worksans-light">All the current weapons and subtypes in the game, along with the blessings that can be found on them</p>
                    </div>
                </div>
            </a>
            <a class="home-ourPages-card row text-decoration-none text-white py-2" href="/curios">
                <div class="col-4">
                    <div class="home-ourPages-img mx-auto">
                        <img class="img-fluid" src="static/img/curios/guardianofthelost.webp" alt="Curios page">
                    </div>
                </div>
                <div class="col-8">
                    <div class="home-card-text text-start">
                        <h3 class="font-worksans-bold">Curios</h3>
                        <p class="font-worksans-light">A full list of all the available curios in Darktide</p>
                    </div>
                </div>
            </a>
            <a class="home-ourPages-card row text-decoration-none text-white py-2" href="/blessings">
                <div class="col-4">
                    <div class="home-ourPages-img mx-auto">
                        <img class="img-fluid" src="static/img/traits/devastatingstrikechainsword.png" alt="Blessings page">
                    </div>
                </div>
                <div class="col-8">
                    <div class="home-card-text text-start">
                        <h3 class="font-worksans-bold">Blessings</h3>
                        <p class="font-worksans-light">A comprehensive guide to all the blessings and the weapons that they’re available for</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>